<!DOCTYPE HTML>
<html>
<head>
<title>Cursors Demo!</title>
<style>
	body { font-family: Helvetica; text-align: center; margin: 10%; }
</style>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/mice.css" />
<script src="/mice.js"></script>
</head>
<body>

	<h1>Cursorzz!</h1>

	

</body>
</html>